/* Contenedor principal*/

body
{	
	font-size: 9pt;
	font-family: Soverana;
	color: #000;
    width:100%;
    height:1300px;
    margin:0;
    padding:0;
    background-color:black;
}

.cuerpo_pagina
{
    width:85%;
    height:98%;
    margin:auto;
    background-color:#fff;
    border-radius:1%;
}
        
.contenedor{ 
    width:100%;
    height:100%; 
    color:#646569;
}

.row{
    width:100%;
    height:100%;
}
.row-central{
    width:100%;
    height:40%;
}
.contentp{
    width:100%;
    height:100%;
}
.row-centralcontent{
    width:100%;
    height:100%;
}
.col1{ 
   
    width:66%; 
    height:100%;
    padding-left:2%;
    display:inline-block; 
    vertical-align:top; 
}
.col2{
     margin:auto;
     width:31%; 
     height:100%;
     display:inline-block; 
     float:right;     
}

.row-pie{
    width:100%;
    height:14%
}
.row-pie li{
    display:inline-block;
}
.pie{
    width:56%;
}
.enlaces{
    margin-top: -12%; 
    margin-left: 64%;
    margin-right:2%;
	width: 30%; 
    position:relative;   
	background-color: #545454;	
	text-align: center;		
	border-radius: 10px;
    float:right;    
}
.enlaces ul{
	width:90%;
	height: 12%;
	list-style-type: none;
   	text-decoration: none;
       padding:0;
       margin:auto;
}
.enlaces li{
    width:40%;
    display: inline;
    border-radius: 10px;   		
}

.listado2{
   
    margin:15px 15px 0  0;
}

.menu {
     margin-top:1%;
    background-color:black; repeat scroll left center  display: block;    height: 45px;    width: 100%;
    /*background:url("../images/2014/menu_bg.png") repeat scroll left center rgba(0, 0, 0, 0);*/*/ 
}
.menu td a{    color: #414042; background-color:#FFF;
    font-family: Soberana Titular,Times New Roman;
    border-radius:5px;
    font-size: 12px;
    font-weight: normal;
    line-height: 48px;
    padding-right: 44px;
    /*text-align: center;*/
    text-decoration: none; }
.menu ctl00_mnuAplicacion_2{
    margin-top:1%;
    margin-bottom:1%;
    margin-left:-20%;
    margin-right:20%;
    float: left;
}
.menu td a:hover {color: #fff; background-color:#000;}
.menu td a > td {color:#000;background-color:#1C663F; font-size: 10px; width:auto;}
.elementoMenu{  color:#000;background-color:#1C663F;  }
/*.elementoMenuHover{ width:150px; }*/
    
/*Cabecera*/
.cabecera{background:url(../images/2014/header_corto.png) no-repeat center center; width:100%; align-items:center;       height:182px;  display:block; margin:auto;}
/* Pie*/
.pie{ color:#000000; text-align:center; padding: 1%;
    height: 152px;
}
.pie small{ font-size:11px; }
.contactanos{ float: left;    margin-right: 35px; }
.contactanos a{ color:#000000;  text-decoration:none;   font-family: SoberanaSans;}
.contactanos img {vertical-align: middle;}

p{ color:#000000;  text-decoration:none;   font-family: SoberanaSans;}

/*Contenidos, Textos, Listas*/
h2{ font-family: Soberana Titular; color:#006F3D; font-size:24px;}
h3{ font-family: Soberana Titular; color:#006F3D; font-size:18px;}
p,ul, p > ul , div {    font-family:SoberanaSans,Times New Roman; text-align: justify;   font-size: 18px;    line-height: 160%; }
.left {text-align:left;}
.en_linea{ display:inline; }

span.resaltado { text-transform:uppercase; color:#006F3D; padding-right:2em;  font-family: SoberanaSans; font-size:16px; }

ul.horizontal{margin: 0;padding: 0;list-style-type: none;text-align: center;}
ul.horizontal li { display: inline-block; list-style-type: none; padding-right: 20px; }
ul.horizontal li a {color:#646569;  font-family: Times New Roman;   font-size: 1em;    font-weight: normal; }


/*css para logotipos encabezado*/
#logos ul{
    list-style-type: none;
   text-align: center;
}
#logos li{
    width:33%;
    display: inline;
   text-align: center;
   margin: 0 10px 0 0;
}

#listado1 li{
    left:200px;
    right:200px;
}
.listado3{       
        width: 80%;
        height: 12%;
        margin:auto;
        list-style-type: none;
        text-align: center;
        text-decoration: none;           
        display: inline-block;
}

.listado3 li{    
        margin-left:1%;
        margin-right:1%;      
        text-align: center;
        text-decoration: none;           
        display: inline-block;
}

/*  Botones   */
div.boton_container  
    {
    background-image:url(../images/2014/boton.png);
    width:137px;
    height:50px;
    display:inline-block;
    position:relative;  
    cursor:pointer;
    }

div.boton_container > input.boton {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    color: #fff;
    font-weight: bold;
    left: 8px;
    line-height: 24px;
    position: absolute;
    text-align: center;
    top: 7px;
    width: 121px;
    cursor:pointer;
    }


a {
  color: #000;
}

pre {
  border:1px solid #000;
  overflow-x:auto;
  background: #222;
  color: #fff;
  text-shadow: none;
}

.wrapper {
    max-width: 95%;
    padding: 0 20px 40px 20px;
    margin: auto;
}

/*css para ayuda*/
.row-centralcontent2 {
    width:90%;
    height:400px;
    margin: 0 auto;
    /*position:absolute;*/
    background-color:#f0f0f0;
}
.columna1{
   
	height:400px;
	width:32%;
	background-color:#DDDDDD;
	border-radius:2%;
    float:left;
    margin-left:1%;
    margin-right:1%;
	
}
.c1{
	margin:auto;
	height:500px;
	width:100%;
	color:black;	
}
.c1 ul li a{
	
	text-decoration:none;
}
.columna2{
    height:400px;
	width:32%;
	background-color:#DDDDDD;
	border-radius:2%;
    float:left;
    margin-right:1%;	
}
.c2{
	margin:auto;
	height:500px;
	width:100%;
	color:black;	
}
.c2 ul li a{	
	text-decoration:none;
}
.columna3{
    height:400px;;
	width:32%;
	background-color:#DDDDDD;
	border-radius:2%;
    margin-right:1%;
    float:left;
	
}
.c3{
	margin:auto;
	height:500px;
	width:100%;
	color:black;	
}
.c3 ul li a{	
	text-decoration:none;
}